* {
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Bona Nova", serif;
  box-sizing: border-box;
}
header {
  font-size: 1.25em;
  position: relative;
  width: 100%;
  background-color: #aa6600;
  height: 129px;
}
header img {
  width: 200px;
  margin-top: 31px;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  margin-left: 40px;
  display: inline-block;
  font-size: 2em;
  font-weight: bolder;
  padding: 5px;
  margin: 0 615px;
  position: relative;
  bottom: 56px;
}
h1 nav {
  font-weight: bold;
  width: 100%;

  position: sticky;
  top: 0;
}
ul {
  position: relative;
}
li {
  color: #59ffd3;
  position: absolute;
  bottom: 16px;
  left: 157px;
}

a {
  font-weight: bold;
  font-size: 1.1em;
  color: #d0ff00;
}
header nav a:hover {
  border: 1px solid #ffffff;
  color: #000000;
  background-color: #c5ad23;
  font-size: 1.2em;
  border-radius: 10px;
}
a:hover {
  border: 1px solid #ff0019;
  color: #ff0019;
  background-color: #dbc2cf;
  font-size: 1.2em;
  border-radius: 10px;
}
main {
  background-color: #e5ece9;
  position: relative;
  font-size: 1.6em;
}
.first-p {
  font-family: "Times New Roman", Times, serif;
  color: #c52362;
  text-align: justify;
  width: 50%;
  display: inline-block;
  margin: 50px 92px;
  margin-left: 92px;
}
.main-img {
  position: absolute;
}
.p-main-section {
  font-family: Arial, Helvetica, sans-serif;
  color: #4500ff;
  position: relative;
}
.p-main-section p {
  padding: 15px;
  font-weight: bold;
}

.p-sections {
  margin-left: 30px;
  margin-left: 106px;
}
.p-sections::before {
  content: "";
  width: 0;
  position: absolute;
  height: 0;
  background-color: #e5ece9;
  border-style: solid;
  border-color: transparent transparent transparent #ff48009c;
  border-width: 10px;
  height: 0;
  left: 90px;
  margin-top: 4px;
}
.p-main-section :last-child::before {
  border-color: transparent transparent transparent rgb(8, 255, 8);
}
.main-img-sec img {
  margin: 0 100px;
}
.sec-img-section3 {
  height: 300px;
  width: 300px;
}
.main-img-sec p {
  text-align: center;
  margin: 30px;
}
.img3-section3 {
  height: 300px;
  width: 300px;
}
.sec3 aside {
  position: relative;
}
.sec3 p {
  text-align: center;
  padding: 30px;
  font-size: xxx-large;
}

.sec3 img {
  margin: 0 334px auto;
}

.sec3 aside {
  height: 400px;
}
.sec3 aside h5 a {
  color: #ff0000;
  position: absolute;
  margin: 174px 180px;
  font-weight: bolder;
  font-size: 35px;
}
.sec3 aside h5::after {
  content: "";
  width: 0;
  position: absolute;
  height: 0;
  background-color: #e5ece9;
  border-style: solid;
  border-color: transparent transparent transparent #f5172d;
  border-width: 15px;
  bottom: 194px;
  right: 761px;
  margin-top: 4px;
}
.sec3 aside img {
  position: absolute;
  right: 0;
  margin: 40px 248px;
}

footer {
  text-align: center;
  background-color: #d72638;
  color: black;
  font-size: 2em;
  padding: 1%;
}
footer li {
  font-weight: normal;
  top: -1px;
}
footer ul :last-child {
  left: 336px;
}
footer a {
  color: white;
  font-weight: normal;
}
