* {
  box-sizing: content-box;
  text-transform: capitalize;
  font-family: "Bona Nova", serif;
  text-decoration: none;

  list-style: none;
}
header {
  color: #e5ece9;
  background-color: #d72638;
}
h1 {
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}
main {
  background-color: #e5ece9;
  height: 650px;
}
section {
  overflow-y: scroll;
  position: relative;
  top: 24%;
  left: 12%;
  background-color: #e5ece9;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #420039;
}

body {
  overflow-x: hidden;
}
table {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
th {
  padding: 10px;
  border: 1px solid #e5ece9;
  background-color: #d72638;
  border-radius: 50% 20% / 10% 40%;
}

td {
  padding: 3px;
  border: 5px solid #d72638;
  border-right: 1px;
}
ul {
  position: relative;
}
li {
  position: absolute;
  margin: 14px;
  top: -52px;
}
a {
  color: #ffc400;
  font-size: 30px;
}
legend {
  text-align: center;
}
fieldset {
  background: aquamarine;
  font-family: sans-serif;
  font-size: large;
  color: #2633d7;
  border: #d72638 10px solid;
  border-radius: 50% 20% / 10% 40%;
  padding: 10px;
  width: 80%;
  margin: 16px 10%;
}
#sub {
  margin: 5px 0 0 564px;
}

#sub:hover {
  background-color: #d72638;
  color: #e5ece9;

  border: #d72638 1px solid;
  border-radius: 50% 20% / 10% 40%;
}
